* {
  box-sizing: border-box;
  font-family: Smokum, Arial, Helvetica, sans-serif;
}

html {
  font-size: 62.5%;
}

header,
footer {
  border: 1px solid transparent;
  height: 200px;
  clear: both;
  color: red;
  font-size: 4rem;
  padding: 0rem;
}

footer {
  height: 80px;
  background: black;
  border: 1px solid transparent;
  color: white;
  font-size: 1.5rem;
}

h2 {

  margin-left: 40rem;
  font-size: 2rem;
}

.table {
  border: 1px solid transparent;
  height: 180px;
  clear: both;
  background: #85BB65;
  font-size: 4.2rem;

}

.slots {
  border: 1px solid transparent;
  height: 180px;
  background: #006400;
  font-size: 15rem;

}

.eachSlot {
  width: 33.33%;
  float: left;
  color: orange;

}

.bottomButtons {
  border: 1px solid transparent;
  height: 80px;
  background: #006400;


}

.buttons {
  width: 50%;
  float: left;
  height: 80px;
  color: #013220;
  font-size: 4.5rem;
}

@media(max-width: 950px) {

  header {
    font-size: 3rem; 

  }
}